@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial;
}

:root {
  --primary-color: rgb(30, 30, 30);
  --secondary-color: black;
}

body {
  background-color: var(--primary-color);
}

.header {
  background-color: var(--secondary-color);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 2px 10px rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 30px;
}

nav ul {
  display: flex;
  justify-content: center;
}

.headerLinks {
  list-style: none;
  margin-right: 16px;
}

.headerLinks a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 10px;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.headerLinks a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.headerLinks a:hover::before {
  transform: scaleX(1);
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.search-btn {
  background-color: var(--secondary-color);
  box-shadow: inset 0 5px 10px var(--secondary-color);
  padding: 3px 8px;
  border-radius: 0 0 10px 10px;
  color: white;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--primary-color);
  margin-left: 8px;
}

.inputText {
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px 16px;
  font-size: 16px;
  color: white;
  background-color: var(--primary-color);
  box-shadow: inset 0 5px 10px var(--secondary-color);
}

.inputTextField::placeholder {
  color: white;
}
.logo{
  height: 40px;
  width: auto;
}

.container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imgnotfound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.notFound {
  font-size: 25px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

@media (max-width: 900px) {
  .header {
    height: 250px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
  }
  .logo{
    margin-bottom: -30;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }

  .headerLinks {
    margin-right: 0;
  }

  .search-container {
    margin: 16px 0;
  }

  .search-btn {
    border-radius: 10px;
    margin: 8px 0;
  }
}

@media (max-width: 600px) {
  .header {
    height: 250px;
  }
  .logo{
    margin-bottom: -30px;
  }
}
